body{
    font-family: 'Play', sans-serif;
    margin: 0px;
    text-align: justify;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

ul{
	padding:0;
}

a{
	color:#fff;
	text-decoration:none;
}
/* header li{ */
    /* text-decoration: none; */
    /* list-style: none; */
    /* float: left; */
    /* padding-right: 10px; */
/* } */

#navigation-menu{
    /* height:40px; */
	/* background:#666; */
    /* margin-right: 200px; */
    background-color: #9532ce;
    padding-bottom: 30px;
    padding-top: 5px;
}

#navigation-menu ul{
	padding-top:13px;
	padding-left:10px;
    margin-right: 70px;
}

#navigation-menu li{
	list-style:none;
	padding-right:20px;
    float:right;
}

#navigation-menu .active{
	font-weight: 700;
	color:#000;
}

#name{
    color: yellow;
    /* text-align: right; */
    /* clear: both; */
    margin: 100px;
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    
}

#cover5{
    width: 340px;
    height: 260px;
    border-radius: 20px;
    
}

li :hover{
    color: #0000;
}


.food-girl{
    height: 550px;
    width: 500px;
    margin: 50px 50px 0px 0px;
}

.eat-guy{
    margin-top: 100px;
    height: 768px;
    width: 1368px;
}
.first-section{
    display: flex;
    padding-bottom: 250px;
    width: 100%;
    margin-top: 50px;
    
}

.first-section-div1{
    margin-left: 50px;
    margin-right: 300px;
    
}

.second-section{
    display: flex;
    margin: 0px;
    padding: 0px 0px 250px 0px;
    width: 100%;
    height: auto;
    background-image: url('images/Frame-58.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-image:inherit */
}

.second-section-div2{

    margin-left: 650px;
    text-align: justify;
    padding-right: 50px;

}

.third-section{
    display: flex;
    width: 100%;
    /* margin: 250px 0px 250px 0px; */
    /* position: absolute; */

}

/* .third-section-div1{
    margin-left: 50px;
    margin-right: 30px;
    padding: 50px 70px 150px 50px;
    border: 2px ;
    border-radius: 7px;
    box-shadow: 3px 3px 10px black;
    
}
  */
.third-section-div1{
    width: 25%;

    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 40px #b9b8b8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    margin: 70px 10px 70px 50px;
}

.button-link{

    color: white;
    font-weight: 700;
    font-size: 20px;
    background-image: linear-gradient(#9532ce, #fd0be9);
    border-radius: 20px;
    padding: 20px 30px ;

}

.extra-color{
    color: #ee3bd0;
}

.recipies{
    text-align: center;
    padding: 0px 200px 0px 200px;
    margin-top: 80px;
}

.foot{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 100px;
    background-color: #9532ce;

}

.static-image{
    background-image: url('images/food/Project-Cover4.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 600px;
}

.static {
    margin: 0 auto;
    width: 90%;
    margin-top: 10%;
    padding-top: 2%;
    margin-bottom: 10%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 0px hsl(0, 13%, 79%);
    
    text-align: center;
    display: flex;
    background-color: white;
    border-radius: 10px;
    
  }
  
  #alfa {
    width: 30%;
    margin-left: 5%;
  }
  #beta {
    width: 30%;
  }
  #gama {
    width: 30%;
  }
  .hearder {
    font-size: 3em;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom: 0;
  }

  #main{
    text-align: center;
    background-color: white;
    /* padding-bottom: 10px; */
    /* border-radius: 20px; */
    
    /* padding: 5px 5px; */
  }

  /* .form{
    box-shadow: 10px 10px 40px #d4d4d4;
    margin: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* text-align: left; */
  /* } */
  .box {
    border: 1px solid gray;
    border-radius: 10px;
    height: 5px;
    padding: 10px 200px 20px 200px;
    /* padding-right: 400px */
    margin-bottom: 3%;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-image: linear-gradient(to right, #9532ce, #9d6db9 , yellow);
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #division {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 200px;
  }
  #footfont{
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
    padding-top: 10px;
  }
  #divfoot{
      float: right;
  }